.footerContainer {
  max-height: 8vh;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5%;
  background-color: rgba(255, 255, 255, 0.7);
}
.footerContainer img {
  margin-left: 0.5rem;
}
.footerContainer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.footerContainer p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.socialLinks {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; /* Spacing between social links and the copyright */
  margin-top: 1rem;
}

.socialIcon {
  height: 32px;
  width: 32px;
  margin: 0 24px; /* Horizontal margin between icons */
  cursor: pointer; /* Makes the icon appear clickable */
  transition: opacity 0.3s ease;
}

.socialIcon:hover {
  opacity: 0.7;
}
