.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3%;
  margin: 0;
  /* width: 100%; */
  max-height: 9vh;

  /* Glassmorphism styling */
  background-color: rgba(200, 200, 200, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);

  /* Shadows and border */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* border-radius: 12px; */
}

.logoSection {
  display: flex;
  align-items: center;
}

.logo {
  height: 64px;
  margin-right: 1rem;
}

.companyName {
  font-size: 2.5rem;
  font-weight: bold;
  color: #9038ff;
  font-family: "Poppins", "Segoe UI", "ui-sans-serif", "Helvetica", "Arial",
    sans-serif;
}

.ctaButton {
  /* This pushes the button to the far right */
  margin-left: auto;
}

@media (max-width: 768px) {
  .companyName {
    font-size: 1.5rem;
    white-space: nowrap;
  }
}
